%body
  %header.header
    .header__bar
      %h1.grid-6
        %a{:href => root_path} 筋肉のつぶやき
      - if user_signed_in?
        .user_nav.grid-7
          %span
            = current_user.nickname
          %ul.user__info
            %li.user_action
              %a{:href => "/users/#{current_user.id}"} マイページ
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          %a.post{:href => "/tweets/new"} 投稿する
      - else
        .grid-7
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "新規登録", new_user_registration_path, class: 'post'
  = yield